Source: mass-installer
Section: utils
Maintainer: Progger X <x@proggers.ru>

Package: mass-installer
Version: 1.0.0
Priority: optional
Architecture: all
Depends: bash
Description: Mass installation utility.
