Source: mass-installer
Section: utils
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Maintainer: Progger X <x@proggers.ru>

Package: mass-installer
Version: 1.0.0
Priority: optional
Architecture: all
Depends: bash
Description: Mass installation utility.
